body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

video {
  position: relative;
  margin: 0 auto;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 100%;
  min-height: 812px;
  margin: auto;
  display: block;
  margin: 0 auto;
  top: 0;
}

img {
  display: block;
  width: 100%;
}

#playbtn {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 812px) {
  video {
    width: auto !important;
    height: 100% !important;
  }
}
